* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color:dodgerblue;
    background-image: 
                      linear-gradient(180deg, dodgerblue 25%, yellow 100%);
  
  }

  .wrapper{
    max-width: 1200px;
    margin: 0 auto;
  }
/* header */
  header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-image: url('../media/header_fon.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
 .photo_profil{
    width: 400px;
    height: 600px;
    background-image: url('../media/myphoto.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid white;
    border-radius: 10px;
    margin: 5px 0 5px 100px;
  }
  .photo_profil:hover{
    margin-top: 100px;
     width: 400px;
     height: 400px;
     border-radius: 50%;
     transform: scale(1.5);
     transition-duration: 2s;
  }


  .text_profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
  }
  .text_profil h1{
    font-size: 70px;
    color: #130f40;
    margin-right: 94px;
    text-decoration: none;
    background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, #ff0000, #fff200, #1e9600);
    background-size: 100% 3px, 0 3px;
    background-repeat: no-repeat;
    transition: background-size 400ms; 
  }
  .text_profil h1:hover{
    background-size:0 50px, 100% 80px;
    border-radius: 25px;
  }

  .text_profil p{
    font-size: 30px;
    color: #130f40;
  }

@media (max-width: 768px){
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo_profil{
    width: 300px;
    height: 500px;
    background-image: url('../media/myphoto.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid white;
    border-radius: 10px;
    margin-left: 0;
  }
  .text_profil h1 {
    margin-right: 0;
    z-index: 2000;
    color: rgb(238, 255, 0);
  }
  .text_profil p {
    margin-bottom: 10px;
    color: aliceblue;
  }
}
@media (max-width: 390px){
  .photo_profil{
    margin-top: 20px;
  }
  .photo_profil:hover {
    width: 250px;
    height: 250px;
  }
  .text_profil{
    height: 300px;
    z-index: 4000;
  }
  .text_profil h1{
    color: aliceblue;
  }

}

  /* section */
  #info{
    background-image: url('../media/sectionFon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container{
    max-width: 450px;
    margin: 0 auto;
  }
  .info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }

  /* short_informations */
  .short_informations{
    background-color: rgba(240, 248, 255, 0.485);
  }
  .cards{
    position: relative;
    display: inline-block;
    margin-top: 50px;
    text-align: center;
    background: rgba(250, 235, 215, 0.519);
    border-radius: 20px;
    clip-path: polygon(60px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 70px);
    transform: clip-path 2s;
  
  }
  .cards::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height:  60px;
    background: rgba(226, 232, 121, 0.44);
    box-shadow: 6px 7px 9px 0px rgba(22, 21, 21, 0.831);
    transition: transform 2s;
    border-radius: 0 0 20px 0 ;
  }
  .cards:hover{
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
    transform: scale(1.2);
    border-radius: 20px;
    transition-duration: 2s;
  }
  .cards:hover::after{
    transform: translate(-100%, -100%);
    transition: transform .5s;
  }
  .cards h4{
    font-size: 40px;
  }
  .cards p, ul{
    padding: 10px;
    font-size: 20px;
    text-align: justify;
}
  .cards p, ul{
    padding: 40px;
    font-size: 20px;
    text-align:left;
}

/* long_informations */
.long_informations{
    width: 520px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.39);
}
.long_informations h1{
    text-align: center;
    font-size: 50px;
}
.btn_AND_load{
  display: flex;
  gap: 40px;
}
.btnShow,
.btnclose{
  font-size: 20px;
  background-color: deepskyblue;
  color: ghostwhite;
  width: 100px;
  height: 50px;
  border: none;
  box-shadow:2px 5px 18px 5px black;
  cursor: pointer;
  animation: swing 1s ease;
  animation-iteration-count: infinite;
}
@keyframes  swing{
  15% {transform: translateX(4px);}
  35% {transform: translateX(-5px)}
  55% {transform: translateX(2px)}
  75% {transform: translateX(-3px)}      
  85% {transform: translateX(2px)}
  100% {transform: translateX(0px)}
      
  
}
.load{

  border: 5px solid black;
  border-radius: 50%;
  border-top: 5px solid #fff200;
  width: 40px;
  height: 40px;
  animation: rotate 1s linear infinite;
}
 @keyframes  rotate{
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-90deg)}
  50% {transform: rotate(-180deg)}
  75% {transform: rotate(-270deg)}      
  100% {transform: rotate(-360deg)} 
}
.experience{
   padding-top: 100px;
}
.experience h4{
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
    background-color: rgba(240, 248, 255, 0.329);
    border-radius: 20px;
}
.experience h5{
    font-size: 30px;
    text-align: center;
}
.experience p{
    text-align: justify;
    font-size: 25px;
}
.slider{
    width: 400px;
    height: 550px;
    margin: 20px 0 0 50px;
    box-shadow: 0 0 30px 20px rgb(98 183 0 / 47%);
    overflow: hidden;
    display: flex;
}
.img_slider img{
    width: 400px;
    height: 550px;
    cursor: pointer;
}
span{
  font-weight: bold;
}
@media (max-width: 768px){
  .long_informations h1 {
    margin-left: 45px;
    font-size: 45px;
    width: 300px;
  }
  .experience{
  width: 350px;
  margin-left: 17px;
  }
  .experience h4 {
    font-size: 38px;
  }
  .experience p{
    font-size: 20px;
   
  }
  .responsibilities2{
    margin-bottom: 50px;
  }

  .slider{
    width: 320px;
    height: 450px;
    margin: 20px 0 0 28px;
  }
  .slider img{
    width: 320px;
    height: 450px;
  }
  .long_informations{
    width: 0px;
  }
  .btnShow,
  .btnclose{
    margin: 20px 0 0 140px;
  }
  .cards:hover{
    margin-left: 10px;
    transform: scale(1);
  }
}

@media (max-width: 390px){
  .info{
    display: flex;
    flex-direction: column;
  }
  .long_informations {
    padding: 0;
  }
  .cards:hover{
    margin-left: 0;
    transform: scale(1);
  }
}

/*footer*/
footer{
  width: 100%;
  height: 50px;
  background-image: url('../media/footerFon.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
   
}
.fotcard{
  display: flex;
  gap: 10px;
  justify-content: center;
  }

.sotial img{
  width: 35px;
  height: 35px;
  margin: 7px;
}
.active,
.active1,
.active2{
    display: none;
}
