@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Zilla+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1110px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}

/* HEADER */
header{
  max-width: 100%;
  min-height: 750px;
  background-image:url('../media/header_photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.pre_hed{
  max-width: 100%;
  height: 550px;
  padding-top: 100px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header_h1{
  width: 630px;
  padding-top: 100px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 48px;
}
.header_btn{
  margin-top: 100px;
  width: 270px;
  height: 70px;
  background: #005FA3;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
@media (max-width:990px){
  header{
    padding-left: 40px;
  }
  .header_h1{
    width: 450px;
    font-size: 35px;
  }
}
@media (max-width:390px){
  header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .header_h1{
    width: 373px;
    font-size: 30px;
  }
  .header_btn{
    margin-left: 40px;
  }
}

/* SECTION 1 */
.specifications{
  display: flex;
  flex-direction: column;
  font-weight: 900;
  background: #EBEBEB;
  min-height: 1242px;
  max-width: 100%;
}
.spec_h1{
  height: 47px;
  margin-top: 40px;
  font-family: 'Merriweather';
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}
.spec_h5{
  height: 23px;
  margin-top: 140px;
  font-family: 'Lato';
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
}
.cards{
  padding-top: 102px;
  margin-bottom: 140px;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 360px);
  grid-gap: 30px;
}
.card{
  display: flex;
  align-items: flex-end;
  padding-left: 45px;
  padding-bottom: 45px;
  background-image: url(../media/chapter_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-image, scale;
  transition-duration: 1s;
  transition: 1s cubic-bezier(0.27, -1.91, 1, 3.49);
}
.card:hover{
  background-image: url('https://248006.selcdn.ru/LandGen/phone_96d62f945f17ae9689d48b1c17f18b230a94bd51.png');
  background-repeat: no-repeat;
  background-size: cover;
  color:rgba(0, 0, 0, 0);
  scale: 1.5;
}
.card-text{
  width: 187px;
  height: 54px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}
@media(max-width: 990px){
  .specifications{
    min-height: 950px;
    align-items: center;
  }
  .spec_h5{
    display: flex;
    justify-content: center;
  }
  .spec_h1{
    display: flex;
    justify-content: center;
  }
  .cards{
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
  }
  .card{
    width: 300px;
    height: 200px;
  }
}

@media(max-width: 390px){
  .cards{
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, 120px);
    grid-gap: 20px;
  }
  .card{
    width: 300px;
    height: 120px;
  }
  .spec_h1{
    font-size: 30px;
  }
}


/* section 2 */
.test{
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.company{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
}
.company_cards{
  max-width: 100%;
}
.us{
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  margin-top: 31px;
  font-family: 'Lato';
  color: #BDBDBD;
}
.company h2{
  height: 117px;
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  margin-top: 40px;    
  color: #333333;
}
span{
  color: #005FA3;
}
.about_text{
  width: 445px;
  height: 245px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-top: 40px;
  text-align: justify;
}
.about_cards{
 
  display: grid;
  grid-template-columns: repeat(2,255px);
  grid-template-rows: repeat(2,255px);
  grid-gap: 30px;
  margin-top: 55px;
  margin-bottom: 55px;
}
.about_card{
  max-width: 100%;
  width: 255px;
  height: 255px;
  padding-left: 40px;
  padding-top: 30px;
  background: #EBEBEB;
  color: #000000;
  cursor: pointer;
}
.about_card:hover{
  background-color: #005FA3;
  color: #fff;
}
.text_num{
  width: 75px;
  height: 54px;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.teext_deal{
  width: 107px;
  height: 37px; 
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.case{
  width: 67px;
  height: 17px;
  padding-top: 57px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
}
.case:hover{
  color:#fff;
}

@media(max-width: 990px){
  .company{
    flex-direction: column;
    align-items: center;
  }
  .company_cards{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .company h2{
    display: flex;
    flex-direction: column;
  }
  .about_cards{
    margin-top: 30px;
    grid-template-columns: repeat(2,250px);
    grid-template-rows: repeat(2,250px);
  }
  .about_card{
    width: 250px;
    height: 250px;
  }
  .about_text{
    width: 600px;
  }
}
@media(max-width: 390px){
  .about_text{
    width: 300px;
    height: 300px;
  }
  .about_cards{
    margin-top: 30px;
    grid-template-columns: 350px;
    grid-template-rows: repeat(4,120px);
  }
  .about_card{
    display: flex;
    margin-left: 0;
    gap: 15px;
    width: 350px;
    height: 120px;
  }
  .text_num{
  font-size: 40px;
  }
  .teext_deal{
    padding-top: 10px;
  }
  .case{
    padding-top: 10px;
  }
}

/* footer */
footer {
  max-width: 100%;
  min-height: 623px;
  background-color: #005FA3;
  background-image: url('../media/foooter_photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}
.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
}
.contact_us_h1{
  width: 445px;
  height: 47px;
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #FFFFFF;
}
.questions{
  margin-top: 60px;
  width: 445px;
  height: 43px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.phone_email{
  display: flex;
  align-items: center;
  margin-top: 80px;  
  margin-left: 20px;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
}
.phone_number{
  width: 184px;
  height: 29px;
  margin-right: 40px;
}
.email{
  width: 155px;
  height: 29px;
  margin-left: 16px;
}
.phone_email img{
  width: 40px;
  height: 30px;
}
.forms{
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.user{
  max-width: 100%;
  display: flex;
  gap:30px;
}
#name {
  max-width: 100%;
  width: 255px;
  margin-top: 15px;
  padding-bottom: 15px;
  font-size: 21px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: white;
}
#second_name{
  max-width: 100%;
  width: 255px;
  margin-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: white;
  font-size: 21px
}
#message{
  height: 84px;
  margin-top: 35px;
  padding-bottom: 15px;
  font-size: 21px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: white;
}
.form_text{
  display: flex;
  flex-direction: column;
}
.footerBtn{
  width: 270px;
  height: 60px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background-color:#005FA3;
  color: #FFFFFF;
}

@media(max-width: 990px){
  .contact{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .phone_email{
    justify-content: center;
    margin-top: 40px;
    margin-left: 0;
  }
  .forms{
    margin-top: 50px;
    text-align: left;
    justify-content: center;
  }
  .user{
    justify-content: center
  }
  .message_card{
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #message{
    width: 540px;
  }
}
@media(max-width: 390px){
  .contact_us{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact_us_h1{
    width: 300px;
    font-size: 40px;
    margin-left: 0;
  }
  .phone_number{
    width: 200px;
    margin-right: 20px;
  }
  .phone_email img {
    width: 23px;
    height: 19px;
  }
  .email {
    width: 162px;
    height: 29px;
    margin-left: 10px;
  }
  .questions{
    width: 300px;
    font-size: 17px;
  }
  .phone_email{
    width: 350px;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 0;
  }
  .forms{
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  .user{
    width: 380px;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .form_text{
    width: 150px;
  }
  .message_card{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #message{
    width: 255px;
  }
  .footerBtn{
    width:255px;
  }
}

/* sub_footer */
.sub_footer{
  max-width: 100%;
  height:120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
@media(max-width:990px){
  .sub_footer{
    width: 990px;
    height:100px;
    justify-content: space-between;
  }
}
@media(max-width:390px){
  .sub_footer{
    width: 100%;
    height:50px;
    flex-direction: column;
  }
}


