/* .head_block{
    display: flex;
    gap: 126px;
} */
.head_elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    margin-top: 90px;
    padding-bottom: 90px;
    
}
.about_company{
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.about_company h1{
    width: 610px;
    height: 90px;

    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.035em;

    color: #22356F;
}

.about_company p{
    width: 602px;
    height: 277px;

    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;

    color: #22356F;
}