*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background: #4FBFA5
}

.header_block{
    max-width: 1295px;
    margin: 0 auto;
}

.sub_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1295px;
    margin: 0 auto;
    object-fit: cover;
}
.sub_header img{
    width: 74px;
    height: 74px;
    cursor: pointer;
}


.nav_menu{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;

}
.nav_menu ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    list-style: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
 }

.nav_menu button{
    background-color: white;
    width: 194px;
    height: 42px;
    border: none;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

.decreption_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 57px 0;
}

.img{
    width: 603px;
    height: 400px;
    left: 862px;
    top: 200px;
}

.decreption{
    color: white;
    display: flex;
    flex-direction: column;
    font-style: italic;
    width: 416px;
    /* margin: auto 0; */
    /* display: flex;
    justify-content: center; */
}

.decreption h1{
    font-weight: 400;
    font-size: 48px;
}
.decreption p{
    margin: 20px 0 40px 0;
    font-weight: 400;
    font-size: 14px;
}
.decreption button{
    width: 158px;
    height: 50px;
    background: #00868A;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: transparent;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
}

.card_item {
    width: 306px;
}
  
.card_descr {
    background-color: #00868A;
    color: white;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 30px;
}
.card_descr p{
    font-size: 21px;
    font-weight: 400;
}
/* .jpeg{
    width: 306;
    height: 230px;
    object-fit: cover;
} */
  
.arrow_container {
    border: 1px solid white;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.actual_offer_section{
    max-width: 1295px;
    margin: 140px auto;
}
.actual_offer_section h2{
    font-size: 48px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: #4FBFA5;
    line-height: 72px;
    margin-bottom: 60px;
}
.sotial_media_icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 90px;
    width: 80px;
    color:#4FBFA5;
    border-left:1px solid #C4C4C4;
    cursor: pointer;
}
.sotial_media_icons {
    display: flex;
}
.footer_block{
    display: flex;
    justify-content: end;
    max-width: 1295px;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    border-bottom-color: 1px solid #C4C4C4;
    border-bottom: transparent;
}
