.offerCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offerText{
    width: 618px;
    height: 604px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 27px;

    margin-left: 160px;
    color: #FFFFFF;   
}

.offerText h2{
    width: 361px;
    height: 51px;
    
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: -0.006em;
}
.offerText p{
    width: 500px;
    height: 270px;

    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: justify;
}
.image{
    width: 523px;
    height: 604px;
    background-image: url('./Media/bike_service.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
}